$media: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1400px,
);

@mixin md($breakpoint) {
  @each $size in $media {
    @media screen and (min-width: $size) {
      @content;
    }
  }
}
