:root {
  --color-primary-900: #064e3b;
  --color-primary-800: #065f46;
  --color-primary-700: #047857;
  --color-primary-600: #059669;
  --color-primary-500: #10b981;
  --color-primary-400: #34d399;
  --color-primary-300: #6ee7b7;
  --color-primary-200: #a7f3d0;
  --color-primary-100: #d1fae5;
  --color-primary-50: #ecfdf5;

  --color-black-900: #111827;
  --color-black-800: #1f2937;
  --color-black-700: #374151;
  --color-black-600: #4b5563;
  --color-black-500: #6b7280;
  --color-black-400: #9ca3af;
  --color-black-300: #d1d5db;
  --color-black-200: #e5e7eb;
  --color-black-100: #f3f4f6;
  --color-black-50: #f9fafb;

  --color-bright-900: #ffffff;
  --color-bright-800: #ffffff;
  // --color-bright-700: #22272b;
  // --color-bright-800: #22272b; // DARK

  --color-danger-900: #7f1d1d;
  --color-danger-800: #991b1b;
  --color-danger-700: #b91c1c;
  --color-danger-600: #dc2626;
  --color-danger-500: #ef4444;
  --color-danger-400: #f87171;
  --color-danger-300: #fca5a5;
  --color-danger-200: #fecaca;
  --color-danger-100: #fee2e2;
  --color-danger-50: #fef2f2;

  // --color-success-800: rgb(74, 222, 128);
}

html {
  font-family: "Mont", "Arial", sans-serif;
}

body {
  background-color: var(--color-bright-800);
}

.container {
  width: 100%;
  margin: 0 auto;

  @include md(sm) {
    max-width: 540px;
  }

  @include md(md) {
    max-width: 720px;
  }

  @include md(lg) {
    max-width: 960px;
  }

  @include md(xl) {
    max-width: 1140px;
  }

  @include md(2xl) {
    max-width: 1320px;
  }
}
